@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tr8dya');
  src:  url('../fonts/icomoon.eot?tr8dya#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tr8dya') format('truetype'),
    url('../fonts/icomoon.woff?tr8dya') format('woff'),
    url('../fonts/icomoon.svg?tr8dya#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav-coctail:before {
  content: "\e900";
}
.icon-nav-check-circle:before {
  content: "\e901";
}
.icon-nav-food:before {
  content: "\e902";
}
.icon-nav-megaphone:before {
  content: "\e903";
}
.icon-nav-music:before {
  content: "\e904";
}
.icon-nav-sofa:before {
  content: "\e905";
}
.icon-nav-store:before {
  content: "\e906";
}
.icon-nav-tag-line:before {
  content: "\e907";
}
.icon-nav-time:before {
  content: "\e908";
}
.icon-nav-art:before {
  content: "\e909";
}
.icon-nav-book:before {
  content: "\e90a";
}
.icon-nav-football:before {
  content: "\e90b";
}
.icon-nav-heart:before {
  content: "\e90c";
}
.icon-nav-hotel:before {
  content: "\e90d";
}
.icon-nav-pin-o:before {
  content: "\e90e";
}
.icon-nav-pin:before {
  content: "\e90f";
}
.icon-nav-restaurant:before {
  content: "\e911";
}
.icon-nav-sevice:before {
  content: "\e912";
}
.icon-nav-shopping-bag:before {
  content: "\e913";
}
.icon-nav-tag:before {
  content: "\e914";
}
.icon-nav-travel:before {
  content: "\e915";
}
