.bxslider-project{
  .product{
    &__list{
      &:hover{
        box-shadow: 0px 0px 0px 0px rgba(48, 48, 48, 0.24);
        background: #f5f5f5;
      }
      &.active{
        background: $main-color-primary;
        .btn{
          &.btn-primary{
            background: $main-color-second;
          }
        }
      }
    }
  }

}
.project{
  .bx-prev{
    left: -50px !important;
  }
  .bx-next{
    right: -50px !important;
  }
  &__detail{
    background: white;
    box-shadow: 0px 0px 30.42px 2.58px rgba(48, 48, 48, 0.14);
    padding: 30px;
    margin-top: 50px;
    overflow: hidden;
    /*border-top: 5px solid $main-color-primary;*/
    .title + span{
      margin-bottom: 20px;
    }
    ul.bxslider{
      margin-bottom: 15px;
      li{
        display: flex;
        justify-content: center;
        img{
          object-position: center;
          object-fit: cover;
          height: 500px;
          max-width: 100%;
        }
      }
    }
    .bx-next {
      right: -31px !important;
    }
    .bx-prev {
      left: -31px !important;
    }
  }
  &__des{
    padding-top: 30px;
  }
}

.banner_project{
  ul{
    li{
      img{
        height: 700px;
        width: 100%;
      }
    }
  }
}
