.product{
  &__list{
    padding-top: 15px;
    padding-bottom: 15px;
    @include transition_ac();
    &:hover{
      box-shadow: 0px 0px 30.42px 2.58px rgba(48, 48, 48, 0.24);
      cursor: pointer;
      @include transition_ac();
    }
    &.col-lg-3{
      .product__des{
        h4{
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  &__img{
    margin-bottom: 15px;
    img{
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  &__des{
    h4{
      font-size: 14px;
      font-family: $main-font;
      font-weight: 700;
    }
    /*p{
      margin-bottom: 0px;
    }*/
  }
}

.tab-inspiration{
  background: #f5f5f5;
  ul{
    display: flex;
    justify-content: center;
    li{
      &.active{
        a{
          background: $main-color-primary;
          color: white;
        }
      }
      a{
        padding: 30px;
        display: block;
        font-size: 16px;
        color: black;
        &:hover{
          background: #d5d5d5;
        }
      }
    }
  }
  + .product{
    .product{
      &__img{
        margin-bottom: 0px;
      }
      &__des{
        margin-top: 15px;
        p{
          margin-bottom: 15px;
        }
      }
    }
  }
}


.ispdetail{
  .modal-content{
    position: relative;
    h4{
      font-family: $main-font;
      font-weight: 400;
      font-size: 16px;
    }
    p{
      margin-bottom: 0px;
    }
    .modal-header{
      justify-content: flex-end;
      position: absolute;
      top: 0px;
      right: 13px;
      z-index: 1;
      border: 0px;
      i{
        font-size: 14px;
      }
    }
    .modal-footer{
      border-top: 0px;
      padding-top: 0px;
      padding-bottom: 5px;
    }
  }
  &__img{
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
}

.bd-img-modal-lg{
  &.show{
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

.bxslider_isp_detail{
  li{
    width: 768px !important;
    text-align: center;
    img{
      height: 500px;
      width: auto;
      display: inline-block;
      object-position: center;
      object-fit: cover;
    }
  }
}


.product__listct{
  position: relative;
}


.product__list{
  &:hover{
    .w3eden{
      display: block;
    }
  }
}

.w3eden{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0,0,0,0.3);
  height: 100%;
  display: none;
  .wpdm_icon{
    box-shadow: none;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -20px;
  }
  .media:first-child{
    margin-top: 160px;
    text-align: center;
  }
  .label-default{
    background-color: transparent;
    display: block;
  }
  .media-body{
    margin-left: -10px;
    margin-left: -10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .ptitle{
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
    color: white;
  }
  .wpdm-download-link{
    background: $main-color-primary;
    display: block;
    width: 140px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    &:hover{
      opacity: 0.9;
      text-decoration: none;
    }
    &:before{
      content: 'Download';
      color: white;
      line-height: 40px;
    }
    img{
      display: none;
    }
  }
}

.product__des{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}




