$main-color-primary: #e5bd5e;
$main-color-primary-light: #003744;
$main-color-second: #2e252e;
$main-color-second-light: #79b8c7;
$main-color-link: #e5bd5e;
$main-color-third: #716a71;
$text-grey-1: #373737;
$text-grey-2: #6d6e70;
$bg-light-grey-1: #f1f2f2;
$bg-light-grey-2: #e6e7e8;
$title-font: 'Anton', sans-serif;
$main-font: 'Montserrat', sans-serif;
$path-image: "../images/";
