

body{
  font-size: 12px;
  background: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  color: $text-grey-1;
  line-height: 22px;
}

header{
  background: white;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(66,63,67,0.5);
  box-shadow: 0px 1px 4px 1px rgba(66,63,67,0.5);
  position: relative;
  z-index: 100;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Anton', sans-serif;
  font-weight: 400;
}


h3{
  font-size: 1.25em;
  @include breakpoint(tablet){
    font-size: 1.75em;
  }
}

a{
  color: $main-color-link;
  &:hover, &:focus{
    color: $main-color-third;
    text-decoration: none;
  }
}

ul{
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  li{
    list-style: none;
  }
}

button, input, optgroup, select, textarea{
  font-family: 'Montserrat', sans-serif !important;
  background: $main-color-second-light;
}


html{
  min-height: 100%;
  height: 100%;
}


.btn-link{
  color: $main-color-second;
}

.btn{
  font-size: 12px;
  line-height: 18px;
  background: $main-color-primary;
  border: 0px;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px;
  font-weight: 700;
  color: white;
  height: 36px;
  line-height: 26px;
  text-transform: uppercase;
  &:hover{
    -webkit-box-shadow:inset 100px 100px 100px 1000px rgba(0,0,0,0.1);
    box-shadow:inset 100px 100px 100px 1000px rgba(0,0,0,0.1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
  }
  &:focus{
    -webkit-box-shadow: 0 1px 4px 4px rgba(0,81,180,0.3);
    box-shadow: 0 1px 4px 4px rgba(0,81,180,0.3);
  }
  &.btn-white{
    background: white;
    color: black;
  }
  &.btn-primary{
    background: $main-color-primary;
    color: white;
    &__border-btm{
      border-bottom: 2px solid $main-color-second;
    }
    &__link{
      color: $main-color-link;
      background: transparent;
      padding-left: 0px;
      &:hover{
        padding-left: 15px;
        background: $main-color-primary;
        color: white;
      }
    }
  }
  &.btn-secondary{
    background: $main-color-second;
    color: white;
  }
  &.btn-round{
    border-radius: 50px;
  }
}

.form-group{
  margin-bottom: 0px;
  margin-bottom: 15px;
  .form-control{
    border-radius: 0px;
    box-shadow: inset 0px 3px 7px 0px rgba(140, 146, 173, 0.2);
    line-height: 18px;
    font-size: 12px;
    background: $main-color-second-light;
    /* do not group these rules */
  }
  *::-webkit-input-placeholder {
      color: white;
      text-transform: normal;
  }
  *:-moz-placeholder {
      /* FF 4-18 */
      color: white;
      text-transform: normal;
  }
  *::-moz-placeholder {
      /* FF 19+ */
      color: white;
      text-transform: normal;
  }
  *:-ms-input-placeholder {
      /* IE 10+ */
      color: white;
      text-transform: normal;
  }
  select{
    &.form-control{
      height: 46px !important;
    }
  }
}

.header{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  &__left{
    display: flex;
    align-items: center;
  }
  &__right{
    display: flex;
    align-items: center;
  }
  a{
    color: $main-color-primary;
    margin-right: 30px;
    margin-left: 30px;
    + a{
      margin-left: 0px;
    }
    i{
      font-size: 30px;
    }
    &:hover{
      color: white;
    }
  }
  .logo{
    display: flex;
    align-items: center;
    height: 100%;
    img{
      width: 180px;
    }
  }
}


.banner{
  ul{
    li{
      img{
        object-position: center;
        object-fit: cover;
      }
    }
  }
  &__des{
    margin-left: 30px;
    @include breakpoint(desktop){
      margin-left: 150px;
    }
  }
  &__desmain{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0px;
    width: 100%;
    margin: 0 auto;
  }
  &__sub{
    height: 200px;
    &-content{
      display: flex;
      height: 170px;
    }
    &-left{
      color: $main-color-primary;
      display: flex;
      align-items: center;
      height: 100%;
      text-transform: uppercase;
      font-size: 32px;
    }
    &-right{
      color: $main-color-primary;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 15px;
    }
  }
}
.bx-wrapper{
  border: 0px;
  -moz-box-shadow: 0 0 0px #ccc;
  -webkit-box-shadow: 0 0 0px #ccc;
  box-shadow: 0 0 0px #ccc;
  margin-bottom: 0px;
  background: transparent;
  .bx-viewport{
    height: auto !important;
  }
}

.block-slider{
  .bx-wrapper{
    .bx-controls-direction a{
      top: -57px;
    }
    .bx-prev{
      left: inherit;
      right: 15px;
    }
    .bx-next{
      right: -10px;
    }
  }
}
.bx-default-pager{
  display: none;
}

.banner-ct{
  min-height: 400px;
  background-size: cover !important;
  background-position: center !important;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    .description-ct{
      text-align: center;
      color: white;
      h3{
        font-size: 40px;
        font-weight: 300;
      }
      p{
        font-size: 20px;
      }
    }
  }
}


.service{
  overflow: hidden;
  position: relative;
  &:before{
    height: 100%;
    min-height: 100%;
    width: 200px;
    background: url($path-image + "bg_dot_loop.jpg") repeat;
    display: block;
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    .service__title{

    }
  }
  .container{
    position: relative;
    @include bg-water-dot();
    &:before{
      top: -240px;
      left: -220px;
    }
  }
  &__list{
    &:nth-child(1){
      .service__title{
        background-color: #918b91;
      }
    }
    &:nth-child(2){
      .service__title{
        background-color: #716a71;
      }
    }
    &:nth-child(3){
      .service__title{
        background-color: #4f4b4f;
      }
    }
    &:nth-child(4){
      .service__title{
        background-color: #2e252e;
      }
    }
  }
  &__img{
    img{
      width: 100%;
      max-height: 246px;
      object-position: center;
      object-fit: cover;
      border: 0px;
    }
  }
  &__title{
    background: url($path-image + "bg_service.png") no-repeat top right #918b91;
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.news{
  background: url($path-image + "bg_pattern_light_grey.jpg") repeat;
  position: relative;
  overflow: hidden;
  @include bg-water-dot();
  &:before{
    bottom: -100px;
    right: -100px;
  }
  &__feature{
    position: relative;
    height: 347px;
    .news__title{
      position: absolute;
      bottom: 10px;
      left: 0px;
      padding-left: 15px;
      padding-right: 15px;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      padding-top: 15px;
      &--link{
        color: white;
        &:hover{
          color: $main-color-primary;
        }
      }
    }
  }
  &__title{
    &--link{
      font-family: 'Anton', sans-serif;
      font-size: 20px;
      color: $main-color-second;
      display: block;
      text-transform: uppercase;
    }
  }
  &__img{
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
  &__date{
    color: #8b8b8b;
  }
  &__list{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    &:nth-child(2n){
      flex-direction: column-reverse;
      .news__img{
        margin-bottom: 0px;
        margin-top: 15px;
      }
    }
  }
  &__des{
    font-size: 14px;
    max-height: 68px;
    overflow: hidden;
  }
  &__sub{
    ul{
      /*display: flex;*/
    }
  }
}


.companyinfo{
  background: url($path-image + "bg_pattern_dark_grey.jpg") repeat;
  color: white;
  &__title{
    position: relative;
    text-transform: uppercase;
    i{
      position: absolute;
      top: 0px;
      right: 0px;
    }
    &:before{
      height: 5px;
      width: 50px;
      content: "";
      background: $main-color-primary;
      position: absolute;
      top: -20px;
      left: 0px;
    }
  }
  &__img{
    margin-bottom: 15px;
    box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.31);
    img{
      width: 100%;
    }
  }
}
.client{
  &__title{
    text-align: center;
    background: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
    h3{
      margin-bottom: 0px;
      text-transform: uppercase;
    }
  }
  .container{
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .bxslider_client{
    li{
      margin-right: 5px;
      text-align: center;
      img{
        /*width: 100%;*/
      }
    }
  }
}

.title{
  text-transform: uppercase;
}


footer{
  &.footer{
    background: url($path-image + "bg_pattern_footer.jpg") repeat;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include bg-water-dot-footer();
    &:before{
      bottom: -150px;
      left: -150px;
    }
    &:after{
      bottom: -150px;
      right: -250px;
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .footer{
    &__content{
      width: 100%;
      img{
        margin-bottom: 30px;
      }
      @include breakpoint(desktop){
        width: 50%;
      }
    }
    &__social{
      padding-top: 30px;
      a{
        color: white;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        i{
          font-size: 30px;
        }
      }
    }
  }
  .form-group{
    position: relative;
    padding-right: 60px;
    input{
      color: white;
    }
    .form-control{
      background: transparent;
      border: 1px solid #e5e5e5;
    }
    .btn{
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .btn-callus{
    font-size: 18px;
    height: 50px;
    line-height: 38px;
    padding-left: 30px;
    padding-right: 30px;
    i{
      font-size: 40px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  h4{
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    &:before{
      content: " ";
      display: block;
      width: 120px;
      height: 3px;
      background: $main-color-third;
      position: absolute;
      bottom: -10px;
      left: 0px;
    }
  }
  .footer{
    &__bottom{
      background: #transparent;
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
      border-top: 1px solid black;
      p{
        margin-bottom: 5px;
      }
      span{
        color: #527d89;
      }
    }
  }
  article{
    margin-bottom: 50px;
    ul{
      li{
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
        .fa{
          font-size: 18px;
          vertical-align: middle;
          margin-right: 15px;
        }
      }
    }
    &:nth-child(1){
      ul{
        li{
          text-transform: none !important;
          padding-left: 30px;
          position: relative;
          .fa{
            position: absolute;
            top: 0px;
            left: 0px;
          }
        }
      }
    }
  }
  .sociallink{
    position: relative;
    left: 20px;
    top: 30px;
    a{
      color: white;
      .fa{
        font-size: 16px;
        margin-right: 5px !important;
      }
    }
  }
}


.paging{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  ul{
    text-align: center;
    width: 100%;
    li{
      display: inline-block;
      vertical-align: middle;
      &.active{
        a{
          background: $main-color-primary;
          color: white;
        }
      }
      a{
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        background: #e5e5e5;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 25px;
        height: 30px;
        text-align: center;
      }
      i{
        font-size: 24px;
      }
      &.prev__btn{
        a{
          i{
            margin-right: 5px;
          }
        }
      }
      &.next__btn{
        a{
          i{
            margin-left: 5px;
          }
        }
      }
      &.prev__btn, &.next__btn{
        a{
          background: #e5e5e5;
          &:hover{
            color: white;
            background: $main-color-primary;
          }
        }
        i{
          display: inline-block;
          vertical-align: top;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}






/*modal*/
.modal-content{
  .modal-header{
    background: #413f44;
    img{
      width: 20px;
    }
  }
  .modal-title{
    text-align: center;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 32px;
    span{
      display: block;
      text-align: center;
      font-size: 22px;
      font-family: "Open Sans";
    }
  }
}

.director{
  .board-dr__img{
    text-align: center;
    img{
      display: inline-block;
    }
  }
  .content{
    h2{
      text-align: center;
      font-size: 20px;
    }
    h3{
      text-align: center;
      font-size: 14px;
    }
    p{
      text-align: center;
    }
  }
}

/*Dropdown menu*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    position: absolute;
    display: none !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important ;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: white;
    margin-top: 5px;
    margin-right: 1px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

/*.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}*/



/* ==========================================================================
   checkbox style
   ========================================================================== */
/*
    Hide the original radios and checkboxes
    (but still accessible)

    :not(#foo) > is a rule filter to block browsers
                 that don't support that selector from
                 applying rules they shouldn't

*/

.checkbox_content{
  p{
    padding-left: 25px;
  }
  label{
    display: inline-block !important;
  }
  span{
    display: inline-block;
  }
  &.sub-form{
    .notranslate{
      height: auto;
    }
    .form-sub-ct{
      display: none;
      &.form-sub-ct-fix{
        display: block;
        padding-left: 23px;
      }
      .form-group{
        border: 0px;
        margin-top: 10px;

      }
    }
    .notranslate:not(#foo) > input[type='radio']:checked + label + span + .form-sub-ct,
    .notranslate:not(#foo) > input[type='checkbox']:checked + label + span + .form-sub-ct{
        display: block;
        padding-left: 23px;
        label{
          position: relative;
          top: 0px;
          left: 0px;
          &:before{
            top: -1px;
            left: 3px;
          }
        }
    }
    .notranslate:not(#foo) > input[type='radio']:checked + label + span + .form-sub-ct{
      label{
        &:before{
          top: 9px;
          left: 9px;
        }
      }
      .checkbox_content{
        margin-top: 10px;
      }
    }
  }
}


.notranslate{
  position: relative;
  width: auto;
}
.notranslate:not(#foo) > input[type='checkbox'], .notranslate:not(#foo) > input[type='radio'] {

  /* Hide the input, but have it still be clickable */
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  float: left;
  text-align: left;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 2
}

.notranslate:not(#foo) > input[type='checkbox'] + label, .notranslate:not(#foo) > input[type='radio'] + label {
    margin: 0;
    clear: none;

    /* Left padding makes room for image */
    /*padding: 5px 0 4px 24px;*/

    /* Make look clickable because they are */
    cursor: pointer;
    /*background: url($images-path + 'checkbox_uncheck.svg') left center no-repeat;*/
    height: 20px;
    text-align: left;
    padding-top: 0px;
    font-weight: normal !important;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e5e5;
    line-height: 20px;
    z-index: 1;
    border-radius: 2px;
    vertical-align: bottom;
    line-height: 30px
    i{
      margin-top: -5px;
    }

}

.notranslate:not(#foo) > input[type='radio'] + label {
  border-radius: 100%
}

 .notranslate:not(#foo) > input[type='radio'] + label {
    /*background: url($images-path + 'checkbox_uncheck.svg') left center no-repeat;*/
 }

/*
    Change from unchecked to checked graphic
*/

.notranslate:not(#foo) > input[type='checkbox']:checked + label {
  /*border: 1px solid $main-color;*/
   &:before{
    content: "ï€Œ";
    font-family: 'FontAwesome';
    /*color: $main-color;*/
    position: absolute;
    font-size: 12px;
    top: 1px;
    left: 4px;
   }
}
.notranslate:not(#foo) > input[type='radio']:checked + label {
  /*background-image: url($images-path + 'checkbox_check.svg');*/
  position: relative;
  &:before{
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    background: $orange;
    border-radius: 100%;
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
   }
}




