// =============================================================================
// MIXINS - RESPONSIVE
// =============================================================================
// Media Queries - MOBILE FIRST
// https://v4-alpha.getbootstrap.com/layout/overview/
@mixin breakpoint($point) {
  @if $point == mobile {  // Small devices (landscape phones, 576px and up)
    @media screen and (min-width : 576px) { @content; }
  }
  @if $point == tablet {  // Medium devices (tablets, 768px and up)
    @media screen and (min-width : 768px) { @content; }
  }
  @else if $point == desktop {  // Large devices (desktops, 992px and up)
    @media screen and (min-width : 992px) { @content; }
  }
  @else if $point == widescreen { // Extra large devices (large desktops, 1200px and up)
    @media screen and (min-width : 2100) { @content; }
  }
  @else if $point == fullhd { // fullhd  (extra breakpoint; not the default bootstrap)
    @media screen and (min-width : 1441px) { @content; }
  }
  @else {
    @media screen and (min-width: #{$point}) { @content; }
  }
}




// =============================================================================
// OTHERS
// =============================================================================
@mixin transition-ac(){
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


@mixin clearboth {
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}


@mixin bg-water-dot {
  &:before{
    width: 504px;
    height: 563px;
    background: url($path-image + "bg_dot_paint.png") no-repeat;
    display: block;
    position: absolute;
    content: "";
  }
}

@mixin bg-water-dot-footer {
  &:before{
    width: 504px;
    height: 563px;
    background: url($path-image + "bg_dot_paint_footer.png") no-repeat;
    display: block;
    position: absolute;
    content: "";
  }
  &:after{
    width: 504px;
    height: 563px;
    background: url($path-image + "bg_dot_paint_footer.png") no-repeat;
    display: block;
    position: absolute;
    content: "";
  }
}














